.container-group {
  position: absolute;
  right: 5px;
  top: -40px;
  background-image: url(../../images/group/Group_10.svg);
  width: 130px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  outline: 0;
  background-color: #fff;
  appearance: none;
}

.container-group:hover {
  cursor: pointer;
}