.two-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
}

.list-container, .iframe-content {
  width: 50%;
}