.two-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  max-width: 1280px;
  margin: 20px auto;
}

.list-container {
  width: 30%;
}

.iframe-content {
  width: 70%;
  border: none;
}

.avatar {
  width: 100px;
  height: 30px;
  background-image: url(./icon__profile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.avatar:hover {
  cursor: pointer;
}