.button__submit {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 20px;
  height: 30px;
  background-image: url(../../../images/button_chat/more_vert_24px_rounded.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: initial;
  color: #fff;
}