.popup {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  height: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 70%;
  background-color: rgba(0, 0, 0, .3);
  transition: all .4s ease;
  z-index: 10;
  user-select: none;
}